#
# Galaxy Media Tools Config File
#
# Directory which to store log files
LOGDIR="/video/Incoming/logs"
# Base directory where transcoding files are searched
TVDIR="/video/TV Series"
# Base directory where transcoding files are searched
MOVIEDIR="/video/Movies"
# Directory in which to transcode in locally
TRANSDIR="/TRANSCODE"
# Pushover notifications application key
POAK="1niX9veMfynaGCvhbETnggtUFerfD8"
# Pushover notifications user key
POUK="6t5A4ejy7dY6HgVBeEhouYHw6yUFpH"
# Transcode server 1 name
T1NAME="Server1"
# SSH user@hostname login information to transcode server 1 (requires passwordless SSH login)
T1INFO="user@192.168.1.10"
# MAC address of transcode server
T1MAC="01:4d:a2:fa:08:3c"
# Transcode server 2 name
T1NAME="Server2"
# SSH user@hostname login information to transcode server 2 (requires passwordless SSH login)
T2INFO="user@192.168.1.10"
# MAC address of transcode server
T2MAC="01:4d:a2:fa:08:3c"
# SSH user@hostname login information to plex server (requires passwordless SSH login)
PLEXINFO="user@192.168.1.15"
# Plex TV category
PLEXCAT="4"
# Plex Movie category
PLEXMCAT="12"
# Auto TV transcode search options
# eg. "-mtime +7 -mtime -14 -size +800M" Older then 7 days, Younger then 14 days, Over 800 Meg
ATTRANS="-mtime +14 -mtime -30 -size +300M"
# Auto movie transcode search options
AMTRANS="-mtime +14 -mtime -120 -size +900M"
# TV ffmpeg transcoding quality
TVQUAL="21"
# Movie ffmpeg transcoding quality
MOVIEQUAL="21"
